<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="css/main.min.css"/>
</head>
<body>

<%- include('partials/navbar.ejs') %>

<main role="main">
    <div class="wrapper">
       Contact
    </div>
</main>
</body>
</html>
